[user]
        name = PLACEHOLDER_NAME
        email = PLACEHOLDER_EMAIL
[core]
        editor = vim
        excludesfile = ~/.gitignore_global
[color]
        ui = auto
[init]
        defaultBranch = main
[pull]
        rebase = false
[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
[push]
        default = simple
[alias]
        st = status
        co = checkout
        br = branch
        ci = commit
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
